*{
    /* border: dotted red 1px; */
}
/* main section */
#main {
    transition: margin-left .5s;
    margin-left: 150px;    
    margin-top: 80px;
    padding: 15px;
}

#main .heading{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
#main .heading h1{
    margin: 0;
    padding: 0;
}

/* sidebar navigation */

.sidenav {
    height: 100%;
    /* width: 0; */
    position: fixed;
    /* z-index: 1; */
    top: 0;
    left: 0;
    /* background-color: #111; */
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

    /* arif  */
    width: 150px;
    border: 1px solid rgb(49, 44, 44, 0.1)

}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: white;
    background: rgb(16, 16, 16);
}

/* sidebar toggle collapse */

#sidebar-btn{
    top: 0px;
    color: white;
    font-size:25px;
    cursor:pointer
}

.closed #main{
    margin-left: 0;
    
}

.closed .sidenav{
    width: 0;
}


/* bookmarks */

.bookmarks{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    flex-wrap: wrap;
    background-color: rgba(26, 23, 23, 0.039)
}
.bookmarks .bookmark{
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #332e2e3d;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
.bookmarks .bookmark{
    width: 250px;
    height: auto;
    margin: 10px;
    padding: 0;
    /* overflow: hidden; */
}
.bookmarks .bookmark a{
    text-decoration: none;
    color: black;
    padding: 5px;
    display: block;
    cursor: pointer;
}

.bookmarks .bookmark img{
    width: 100%;
    max-height: 150px;
}

.bookmarks .bookmark .options{
    text-align: right;
    opacity: 0;
}

.bookmarks .bookmark:hover .options{
    opacity: 1;
}

.bulk-mode.bookmarks .bookmark:hover .options{
    display: none;    
}

.bookmarks .bookmark[data-checked="true"]{
    background: rgba(241, 215, 65, 0.637);
}

/* modals */

.is-hidden { 
    /* display: none;  // this conflicts with display:flex */ 
    visibility: hidden;
}

.overlay { 
      position: fixed; 
      /* why - so that its not scrollable */
      left: 0px;
      top: 0px;
      width:100vw;
      text-align:center;
      z-index: 1050; 
      /* had to give 1050 as navbar has z-index = 1030 */

        
      display: flex;
      
}

.modal-content .btn-close{
    float: right;
}

.modal-content .btn-save{
    margin-top: 3px; 
}

/* modal-edit-tags */

.overlay.edit-tags{
    height:100vh;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.6); 
    z-index: 1060;
}

.edit-tags .modal-content {
    width:400px;
    background-color: #fff;
    border:1px solid #000;
    padding:15px;
    text-align:center;
}

/* modal-bulk-edit */

.overlay.bulk-edit{
    justify-content: flex-end;
    /* align-items: center; */
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    background: rgb(158, 149, 149); 
    overflow: hidden;
}

.bulk-edit .modal-content{
    margin: 0;
    padding: 0;
    width: 30%;
    max-height: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: inherit;

    border: none !important;
    box-shadow: 0px 0px;
}


